streamlit>=1.35.0
streamlit-drawable-canvas-fix
pillow
numpy
pandas
opencv-python-headless
pytesseract
pdf2image
paddleocr
paddlepaddle  # <-- Changed from paddlepaddle-gpu
torch
torchvision
transformers
diffusers
accelerate
segment-anything
svgwrite
python-pptx
